body {
    background-color: #352f5b;
}

.container {
    max-width: 500px;
}

input[type=text],
input[type=text]:focus {
    color: white;
    border: none;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.2);
}

.todos li {
    background-color: #423a6f;
    color: aliceblue;
    text-transform: lowercase;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}